options {
         forwarders {
          77.88.8.8;
          77.88.8.1;
         };
         listen-on {
          192.168.15.5;
        };
        dnssec-validation auto;
        listen-on-v6 { any; };
};