$TTL 604800
@       IN      SOA     dns.kva-kva.org. root.dns.kva-kva.org. (

        2       ;Serial
        604800  ;Refresh
        86400   ;Retry
        2419200 ;Expire
        604800 );Negative Cache TTL;


@        IN      NS      dns.kva-kva.org.
10                      PTR     web01.kva-kva.org.
11                      PTR     web02.kva-kva.org.
12                      PTR     web.kva-kva.org.
13                      PTR     sql.kva-kva.org.
14                      PTR     cn1.kva-kva.org.
15                      PTR     cn2.kva-kva.org.
16                      PTR     cn3.kva-kva.org.
17                      PTR     cn4.kva-kva.org.
5                       PTR     dns.kva-kva.org.
6                       PTR     ansible.kva-kva.org.
7                       PTR     master.kva-kva.org.